body, html {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

.head-image {
  margin: 0 auto;
  height: 80%;
  width: 85%;
  background-image: url("landingpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(150,150,150,0.55);
  -moz-box-shadow: 0px 1px 4px 1px rgba(150,150,150,0.55);
  box-shadow: 0px 1px 4px 1px rgba(150,150,150,0.55);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.head-image h1 {
  letter-spacing: 2px;
  font-size: 50px;
  margin-bottom: 30px;
}

.head-image p {
    font-size: 20px;
}

.text-and-button {
  margin-top: 150px;
}

#device {
  position: absolute;
  left: 30%;
  top: 400px;
  margin-top: 100px;
  max-width: 750px;
}

#logo {
  max-width: 100px;
  float: left;
}

.contaier {
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  width: 85%;
  background: #efefef;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(150,150,150,0.55);
  -moz-box-shadow: 0px 0px 8px 0px rgba(150,150,150,0.55);
  box-shadow: 0px 0px 8px 0px rgba(150,150,150,0.55);
}

.btn-git {
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  background: #4286f4;
  color: #fff;
  display: block;
  margin: 50px auto;
  width: 140px;
}

.btn-git:hover {
  text-decoration: none;
  background: #6ba3ff;
}

#device2 {
    max-width: 500px;
    margin-left: 300px;
}

.sensor-dashboard {
  margin: 0 auto;
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sensor-dashboard-heading {
  margin-top: 100px;
  color: #4f4949;
  text-align: left;
}

.sensor-dashboard-heading h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.sensor-dashboard-heading hr {
  margin-bottom: 15px;
  width: 50px;
  display: block;
  border-style: inset;
  border: 2px solid #4f4949;
  width: 70px;
}

.sensor-dashboard-text {
  text-align: left;
  line-height: 1.5;
}

.features {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.feature-icon {
  max-width: 100px;
}

.features-container h1 {
  margin-top: 200px;
  text-align: center;
  color: #4f4949;
  font-size: 40px;
  margin-bottom: 30px;
}
