<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="{% static 'images/water.mp4' %}" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
     <div class="login">
       <div class="login-frame">
        <h2>Sign in</h2>
          {% if messages %}
           <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
           </ul>
          {% endif %}
         <form method="post">
           {% csrf_token %}
             {{ form.as_table }}
             <tr><input type="submit" name="submit" value="Sign in" class="inputbutton" /></tr>
             <tr>
                <td><input type="button" onclick="location.href='/register';" value="Register" class="inputbutton"/></td>
              </tr>
         </form>
       </div>
     </div>
   </body>
</html>
